@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

body {
  background-color: #fcfcfc;
}

footer {
  display: flex;
  padding: 10px 30px;

  .github {
    flex: 1;
  }
}

.add-player-button {
  border-style: dashed;
}

.points {
  padding: 0 5px;
}

.rank {
  padding-right: 35px !important;
}

.first-place {
  background-color: gold;
  color: black;
}

.second-place {
  background-color: silver;
  color: black;
}

.third-place {
  background-color: #CD7F32;
  color: black;
}